.row{

	&__8--top-v-gap{
	margin-top:3rem;
	}
	
	@mixin atSmall{
		&__medium-4{
			float:left;
			width:33.33%;
		}	
		
		&__medium-8--top-v-gap{
		margin-top:0;
		}
		
		&__medium-8{
			float:left;
			width:66.66%;
		}
	}
	
	@mixin clearfix;
	
	&--gutters>div{
		padding-right:40px;
	}
	
	&--gutters{
		margin-right:-40px;
	}
	
	&--t-padding{
		padding-top:50px;
		
		@mixin atSmall{
			padding-top:20px;
		}
	}	

	.flexbox &--equal-height-at-medium{
		@mixin atSmall{
			display:flex;
			align-items:stretch;
		
		& > div{
			float:none;
			display:flex;
			}
		}
	}

}